<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> 
<head>
<title>ACP Controle Times</title>
  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  
  <!-- Jquery UI: for Datepicker-->
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <!-- Stylesheet for Datepicker -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  
  <!-- Our own style sheet -->
  <link rel="stylesheet" href="/static/css/calc.css" />
</head>


<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Time Calculator</h1>
<hr>
  <h5>Please enter a start date: </h5>
  <p><input type="text" id="start_date" placeholder="MM/DD/YYYY"></p>
<hr>
  <h5>Please enter a start time (24-hour format): </h5>
  <p><input type="text" id="start_time" placeholder="HH:MM"></p>
<hr>
  <h5>Please select miles or kilometers: </h5>
  <select id="distance_unit">
    <option value="Kilometers">Kilometers</option>
    <option value="Miles">Miles</option>
  </select>
<hr>
	<h5>Please enter a brevet length (in kilometers): </h5>
	<select id="brevet_length">
	  <option value="200">200</option>
	  <option value="300">300</option>
	  <option value="400">400</option>
	  <option value="600">600</option>
	  <option value="1000">1000</option>
	</select>
<hr>


<!-- Design on bootstrap grid -->
<form role="form">
{% for i in range(10) %}
<div class="row">
  <div class="col-md-2">
  	{% if loop.first %}
    <input type="number" step="10" class="form-control" id="start_distance" value="0" readonly>
    {% else %}
    <input type="number" step="10" class="form-control" name="distance" placeholder="Distance">
    {% endif %}
  </div>
  
  <div class="col-md-4">
    <input type="text" class="form-control" name="location" placeholder="Location">
  </div>
  
  <div class="col-md-4">
    <input class="open-time form-control times" placeholder="Open Time" readonly disabled></input>
    <input class="close-time form-control times" placeholder="Close Time" readonly disabled></input>
  </div>
</div>
<br>
{% endfor %}

<input id="test" class="classtest form-control" placeholder="hello" readonly></input>


<script>
  $(function() {
    $( "#start_date" ).datepicker();
  });
</script>

<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  
  function updateAll() {
      //TODO: May not be ideal
  }
  
  function update(elem) {
              var e_dist = $(elem).val();
              var start_time = $("#start_time").val(); 
              var start_date = $("#start_date").val();
              var distance_unit = $("#distance_unit").val();
              var brevet_length = $("#brevet_length").val();

              var open_target = $(elem).parents(".row").find(".open-time");
              var close_target = $(elem).parents(".row").find(".close-time");

              $.getJSON($SCRIPT_ROOT + '/_calc_times',
                  { dist: e_dist ,
                    start_t: start_time ,
                    start_d: start_date ,
                    dist_unit: distance_unit,
                    brev_length: brevet_length},
                  function(data) {
                     var opening = data.result.opening;
                     var closing = data.result.closing;
                     open_target.val(opening);
                     close_target.val(closing);
              });
  }

  $(document).ready(function(){
    $('input[name="distance"]').change(
          function(){          	  
              var e_dist = $(this).val();
              var brevet_length = $("#brevet_length").val();
              
              // Check if distance too large (> 20%)
              var t_brevet_length = brevet_length
              if (distance_unit == "Miles") {
                  t_brevet_length = t_brevet_length * 0.61;
              }
              if (e_dist > parseInt(t_brevet_length) + (t_brevet_length * .2)) {
                  $(this).val("");
                  alert("Invalid distance: Distance is larger than 20% of brevet length.");
                  return;
              }
              
              update(this);
          }); 
    
    $('#start_time').change(
    	function() {
    		var t = $(this).val();
    		$.getJSON($SCRIPT_ROOT + '/_is_valid_time',
    			{ time : t},
    			function(data) {
    				var is_valid = data.result.is_valid;
    				if (!is_valid) {
    					alert("Invalid time. Format is HH:mm")
    					$("#start_time").val("")
    				} else {
    					update('#start_distance');
    				}
    			});    		
    	});
    
    $('#start_date').change(
    	function() {
    		var d = $(this).val()
    		$.getJSON($SCRIPT_ROOT + '/_is_valid_date',
    			{ date : d },
    			function(data) {
    				var is_valid = data.result.is_valid;
    				if (!is_valid) {    					
    					alert("Invalid date. Format is MM/DD/YYYY");
    					$("#start_date").val("")
    				}
    			});    
    	});    
  });   

</script>

</div>
</body> </html>
