<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> 
<head>
<title>ACP Controle Times</title>
  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  
  <!-- Jquery UI: for Datepicker-->
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <!-- Stylesheet for Datepicker -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  
  <!-- Our own style sheet -->
  <link rel="stylesheet" href="/static/css/calc.css" />
</head>


<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Time Calculator</h1>
<hr>
  <h5>Please enter a start date: </h5>
  <p><input type="text" id="start_date" placeholder="MM/DD/YYYY"></p>
<hr>
  <h5>Please enter a start time (24-hour format): </h5>
  <p><input type="text" id="start_time" placeholder="HH:MM"></p>
<hr>
  <h5>Please select miles or kilometers: </h5>
  <select>
    <option value="Kilometers">Kilometers</option>
    <option value="Miles">Miles</option>
  </select>
<hr>

  <!--
   If there are any warnings or other messages from a prior
   request to the server, 
   they appear above the rest of the content, just until the next 
   action.  (This is only on request/response transactions that
   result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->
<form role="form">

<div class="row">
  <div class="col-md-2">
    <input type="number" step="10" class="form-control" name="distance" placeholder="Distance">
  </div>
  
  <div class="col-md-4">
    <input type="text" class="form-control" name="location" placeholder="Location">
  </div>
  
  <div class="col-md-4">
    <span class="open-time form-control">1500  1600</span>
    <span class="close-time form-control">1500  1600</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <input type="number" step="10" class="form-control" name="distance" placeholder="Distance">
  </div>
  
  <div class="col-md-4">
    <input type="text" class="form-control" name="location" placeholder="Location">
  </div>
  
  <div class="col-md-4">
    <span class="times form-control"></span>
    <span class="times form-control"></span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <input type="number" step="10" class="form-control" name="distance" placeholder="Distance">
  </div>
  
  <div class="col-md-4">
    <input type="text" class="form-control" name="location" placeholder="Location">
  </div>
  
  <div class="col-md-4">
    <span class="times form-control"></span>
    <span class="times form-control"></span>
  </div>
</div>
</form>



<script>
  $(function() {
    $( "#start_date" ).datepicker();
  });
</script>

<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function(){
    $('input[name="distance"]').change(
          function(){
              var e_dist = $(this).val();
              var start_time = $("#start_time").val(); 
              var start_date = $("#start_date").val();

              var target = $(this).parents(".row").find(".open-time");

              // DEBUG: How do I replace the 'times' field?
              // alert("Content of the field I want to change: " +
              //   target.html());

              $.getJSON($SCRIPT_ROOT + '/_calc_times',
                  { dist: e_dist ,
                    start_t: start_time ,
                    start_d: start_date },
                  function(data) {
                     var opening = data.result.opening;
                     var closing = data.result.closing;
                     // alert("Got a response: " +  times);
                     target.text(opening + " " + closing);
              }); 
    }); 
  });   

</script>

</div>
</body> </html>
